.counter_container{
    text-align: center;
    font-family: Arial, sans-serif ;
}

.count_display{
    font-size: 10em;
    margin-top: 0;
    margin-bottom: 50px;
}

.counter_button{
    width: 150px;
    height: 50px;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0px 5px;
    background-color: hsl(197, 100%, 58%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor:pointer
}

.counter_button:hover{
    background-color: hsl(197, 100%, 48%);
}

.counter_button:active{
    background-color: hsl(197, 100%, 38%);
}