.welcome_message{
    font-size: 2.5em;
    background-color: hsl(120, 100%, 42%);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 8px;
}

.login_prompt{
    font-size: 2.5em;
    background-color: hsl(0, 100%, 42%);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 8px;
}